body {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #fff;
    color: #fff;
    background: linear-gradient(to bottom, rgb(20 196 240 / 22%) 0%, rgb(0 0 0 / 96%) 100%), url(/assets/img/2.jpg) no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    min-height: 100vh;
}

.content-vh{
    min-height: 70vh;
}
.header{
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.login{
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin: auto;
}
.bg-login{
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.06) 0%, rgb(255, 255, 255) 100%), url(/assets/img/svg/9.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
}

p {
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: black;
}
.emojis{
    font-size: 20px;
    margin: auto;
    text-align: center;
    display: contents;
}

.img-logo {
    width: 30px;
}

.cont > h1 {
  font-size: 3rem;
}
.cont > p {
    font-style: italic;
}

/*-- Card --*/
.card {
    background-color: transparent;
    margin: auto !important;
}

.bg-card-img {
    background: rgba(0, 255, 255, 0.527);
    transform: rotate(15deg);
    box-shadow: 0 .5rem 1rem rgba(20, 119, 78, 0.377)!important;
}

.bg-card-img:hover {
    background: rgba(49, 218, 181, 0.603);
    animation: moveImg 4s;
}
@keyframes moveImg {
    30% {
        transform: translateY(-15px);
    }
}

.card-img-top {
    transform: rotate(-15deg);
}

/*-- Modal --*/
.modal-carousel {
    background: transparent !important;
}

.modal-comment {
    background:#fff!important;
    border-radius: 10px;
    text-align: center;
}

.page-link{
    border-radius: 50rem;
    margin: 5px;
    box-shadow: 0 .5rem 1rem rgba(43, 44, 44, 0.377);
}

.modal-img{
    width: auto;
    height: 70vh;
    margin: auto;

}
@media screen and (max-width: 599.99px) {
    .modal-img{
        width: auto;
        height: 260px;
    }
}

.modal-login, .modal-convite{
    border-radius: 5px;
    padding: 20px;
}

.modal-login, .modal-convite{
    content: '';
    background-image: url(/assets/img/svg/9.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.modal-footer {
    padding: 0;
}

/*-- btn-custom --*/
.btn-comment {
    background: #ffff;
    box-shadow: 0 .5rem 1rem rgba(43, 44, 44, 0.377);
}

.btn-comment:hover {
    background: #2d3748 !important;
    animation: moveItem 4s;
    color: #ffff !important;
}

.btn-custom:hover {
    background: linear-gradient(to bottom,
    rgba(20, 196, 240, 0.247) 0%, rgba(108, 104, 112, 0.404) 100%) !important;
    color: #fff !important;
    animation: moveItem 4s;
}

/*-- Social icons --*/
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    color:rgb(224, 211, 228);
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;

}

.social-icons .social-icon:last-child {
    margin-right: 0;
}
.social-icons .social-icon:hover{
    background-color:#fff;
    color: rgba(19, 18, 18, 0.91) !important;
    animation: moveItem 4s;

}
@keyframes moveItem {
    30% {
        transform: translateY(-10px);
    }
}

.btn {
    border-radius: 0 !important;
}

footer {
    margin-top: 5em;
}

.card-edit {
    width: 10rem !important;
    background: transparent !important;
    border: 0 !important;
    display: inline-flex !important;
}

.card-edit > img{
   border-radius: 10px;
   box-shadow: 0 .5rem 1rem rgba(43, 44, 44, 0.377);
    margin: 10px;
}

.scroll {

    height: 80vh;
    overflow-x: hidden;
    text-align: center;
    padding: 5px;
}

.scroll-comments {
    height: 50vh;
    overflow-x: hidden;
    text-align: center;
    padding: 5px;
}

